* {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.list-item {
    height: 50px;
    background-color: green;
}

li {
    list-style: none;
}